<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragment/common :: head"></head>

<th:block layout:fragment="html_head">
    <title>Checked Email - Meeting</title>
</th:block>

<body class="bg-light">
    <div th:replace="fragment/common :: main-nav"></div>
    <div class="container">
        <div class="py-5 text-center" th:if="${error}">
            <p class="lead">Email check on Meeting</p>
            <div class="alert alert-danger" role="alert">
                Wrong email-link. Please check again.
            </div>
        </div>

        <div class="py-5 text-center" th:if="${error == null}">
            <p class="lead">Confirm of the email</p>
            <h2>
                Completely has been checked the email. <br />
                <span th:text="${numberOfUser}">10</span>th's member,
                <span th:text="${nickname}">Test</span>, thank you for signing up.
            </h2>
            <small class="text-info">Please sign-in using email or nickname / password.</small>
        </div>
    </div>
    <footer th:replace="fragment/common :: footer"></footer>
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
