<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragment/common :: head"></head>

<th:block layout:fragment="html_head">
    <title>Register - Meeting</title>
</th:block>

<body class="bg-light">
    <div th:replace="fragment/common :: main-nav"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>Register</h2>
        </div>
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-6" action="#"
                  th:action="@{/account/sign-up}" th:object="${signUpForm}" method="post" novalidate>
                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                           placeholder="nickname" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                    <small id="nicknameHelp" class="form-text text-muted">
                        Hint : Please input without space, but characters and numbers sized between 3 and 20. You can change after registration.
                    </small>
                    <small class="invalid-feedback">Please input your nickname.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" th:field="*{email}" class="form-control"
                           placeholder="your@email.com" aria-describedby="emailHelp" required>
                    <small id="emailHelp" class="form-text text-muted">
                        Hint : Your email will keep in secret.
                    </small>
                    <small class="invalid-feedback">Please input your E-mail.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}" class="form-control"
                           aria-describedby="passwordHelp" required minlength="4" maxlength="50">
                    <small id="passwordHelp" class="form-text text-muted">
                        Hint : Please input without space, but characters, special ones and numbers sized between 4 and 50.
                    </small>
                    <small class="invalid-feedback">Please input your password.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">Sign Up</button>
                    <small id="submitHelp" class="form-text text-muted">
                        <a href="#">Email</a> : Any concern, email to us.
                    </small>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="fragment/common :: footer"></footer>
    <script th:replace="fragment/common :: form-validation"></script>
</body>
</html>