<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragment/common :: head">
</head>

<th:block layout:fragment="html_head">
    <title>Meeting</title>
</th:block>

<body class="bg-light">
    <div th:replace="fragment/common :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>Home</h2>
        </div>
    </div>
    <footer th:replace="fragment/common :: footer"></footer>
</body>
</html>